/output
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*.swp
*~
tools/livesuit/tools.scj
external-packages/example/example
tools/pack/out/
tools/pack/wboot/rootfs.fex
!dl/*
